<ul class="breadcrumbs">
    <li><a href="#/">Home</a></li>
    <li><a href="#/roles">Roles</a></li>
    <li>Add new role</li>
</ul>

<div class="row">
    <div class="large-12 columns">
        <form action="">
            <div class="row">
                <div class="large-5 columns">
                    <label>Role Name
                        <input type="text" placeholder="Add role name" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" value="Add Role" class="button small tiny">
                    <a class="button small secondary tiny" href="#/roles"> Cancel</a>
                </div>
            </div>
        </form>
    </div>

</div>