<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="#/">Home</a></li>
            <l><a href="#/roles"></a></l>
            <li class="current">udpate role</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns" data-ng-bind="status"></div>
</div>


<div class="row">
    <div class="large-12 columns">
        <form action="">
            <div class="row">
                <div class="large-5 columns">
                    <label>Role Name
                        <input type="hidden" value="{{role.id}}"/>
                        <input type="text" placeholder="Add role name" value="{{role.name}}"/>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input ng-click="saveRole()" type="submit" value="Add Role" class="button small tiny">
                    <a class="button small secondary tiny" href="#/roles"> Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>