<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="#/">Home</a></li>
            <li><a href="#/roles">Roles</a></li>
            <li class="current">View Role details</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
       <div class="large-2 columns">Role Id</div>
       <div class="large-10 columns" data-ng-bind="role.id"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 columns">Role </div>
        <div class="large-10 columns" data-ng-bind="role.name"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <a href="#/roles" class="button small tiny secondary">back</a>
    </div>
</div>