<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="#/homes">Home</a></li>
            <li><a href="#/bugs">Bugs</a></li>
            <li>Add Bug</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <form name="frmbug" novalidate="">
            <div class="row">
                <div class="large-5 columns">
                    <label for="">
                        Project :
                        <select name="project_id" ng-change="loadProjects()" ng-model="bug.project_id" ng-options="project.name for project in projects">
                            <option value="">-- choose project --</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label for="">
                        Bug Type :
                        <select name="bug_type_id" ng-model="bug.bug_type_id" ng-options="bugtype.name for bugtype in bugtypes">
                            <option value="">--Choose bug type--</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label for="">
                        AssignTo :
                        <select name="assigned_to" data-ng-model="bug.assigned_to" ng-options="(user.name) for user in projectUsers">
                            <option value="">--Choose one user--</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label for="">
                        Expected close date :
                        <input type="date" name="expected_close_date" data-ng-model="bug.expected_close_date" placeholder="yyyy-MM-dd" />
                        <div data-ng-show="frmbug.expected_close_date.$dirty && frmbug.expected_close_date.$invalid">
                           <span class="error" data-ng-show="frmbug.expected_close_date.$error.date">Not a valid date!</span>
                        </div>
                    </label>
                </div>
            </div>



            <div class="row">
                <div class="large-5 columns" >
                    <label for="">
                        Title:
                        <input type="text" name="title" data-ng-model="bug.title" required/>
                        <div data-ng-show="frmbug.title.$dirty && frmbug.title.$invalid">
                            <span class="error" data-ng-show="frmbug.title.$error.required"> Please enter title</span>
                        </div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label for="">
                        Description :
                        <textarea name="description" data-ng-model="bug.description" cols="30" rows="10"></textarea>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <input class="button success tiny" type="submit" ng-click="addBug()" ng-disabled="frmbug.$invalid" value="Add Bug"/>
                    <a href="#/bugs" class="button tiny secondary"> Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>