<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="#/">Home</a></li>
            <li><a href="#/todos">Todos</a></li>
            <li class="current">Add Todo</li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <span data-ng-bind="status"> </span>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <form name="frmAddTodo" novalidate>

            <div class="row">
                <div class="large-5 columns">
                    <label>Project :
                        <select name="project" ng-model="selectedproject_id" ng-options="project.name for project in projects"></select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label>
                        Date :
                        <input type="text" name="date" data-ng-model="todo.todo_date" date-picker readonly />
                    </label>
                </div>
            </div>


            <div class="row">
                <div class="large-5 columns">
                    <label> Title :
                        <input type="text" name="title" data-ng-model="todo.title" required/>
                    </label>
                    <div ng-show="frmAddTodo.title.$invalid && submitted">
                        <span class="error" ng-show="frmAddTodo.title.$error.required">Please enter title</span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="large-5 columns">
                    <label> Description :
                        <textarea name="description" data-ng-model="todo.description" id="" cols="30" rows="10"></textarea>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label>Group :
                        <select   name="group" id="" data-ng-model="selectedgroup_id" ng-options="group.name for group in groups"></select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label>Priority :
                        <select name="priority" id="" data-ng-model="selectedpriority_id" ng-options="priority.name for priority in priorities"></select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <input type="button"  ng-click="saveTodo()" value="Add" class="button small tiny"/>
                    <a href="#/todos" class="button small secondary tiny">Cancel</a>
                </div>
            </div>
            
        </form>
    </div>
</div>