<div class="row">
    <div class="columns large-4">
        <ul class="breadcrumbs">
            <li><a href="#/home">Home</a></li>
            <li class="current"><a>My Todos</a></li>
        </ul>
    </div>
    <div class="large-8 columns">
        <dl class="sub-nav">
            <dt>project:</dt>
            <dd ng-class="{active : activeproject == 'all'}"><a href="#/todos">All</a></dd>
            <dd ng-class="{active : activeproject == projectuid}"  data-ng-repeat="(projectuid, projectname) in projects"><a href="#/todos/project/{{projectuid}}">{{projectname}}</a></dd>
        </dl>
    </div>
</div>



<div class="row">
    <div class="large-4 columns"><a class="button tiny " href="#/add-new-todo">Add Todo</a></div>
    <div class="large-4 columns">
        <div class="alert-box success tiny button" data-alert="" ng-show="status">
            {{status}}
            <a class="close" href="">×</a>
        </div>
    </div>
    <div class="large-4 columns">
        <input type="text" ng-model="searchText" placeholder="Add text to search..." />
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <ul class="side-nav">
            <li  data-ng-repeat="todo in filtered =(todos|filter:searchText)" ng-cloak>
                <a href="#/view-todo/{{todo.id}}">{{todo.title}}</a>
            </li>
        </ul>

        <emptytr dataarr="filtered.length"></emptytr>
    </div>
</div>
