<div class="row">
    <div class="columns large-6">
        <ul class="breadcrumbs">
            <li><a href="#/home">Home</a></li>
            <li class="current"><a>My Todos</a></li>
        </ul>
    </div>
    <div class="large-6 columns">
        <dl class="sub-nav">
            <dt>project:</dt>
            <dd class="active"><a href="#/todos">All</a></dd>
            <dd><a href="#/todos/myfarah">Myfarah</a></dd>
            <dd><a href="#/todos/pixel">Pixelcms</a></dd>
        </dl>
    </div>
</div>



<div class="row">
    <div class="large-4 columns"><a class="button tiny " href="#/add-new-todo">Add Todo</a></div>
    <div class="large-4 columns">
        <div class="alert-box success tiny button" data-alert="" ng-show="status">
            {{status}}
            <a class="close" href="">×</a>
        </div>
    </div>
    <div class="large-4 columns">
        <input type="text" ng-model="searchText" placeholder="Add text to search..." />
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <table class="large-12 columns">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th class="table-options">Option</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="todo in filtered = (todos |filter:searchText)" >
                <td data-ng-bind="todo.id"></td>
                <td data-ng-bind="todo.title"></td>
                <td data-ng-bind="todo.description"></td>
                <td>
                    <a class="button tiny small" href="#/view-todo/{{todo.id}}">View</a>
                    <a class="button tiny small" href="#/update-todo/{{todo.id}}">Edit</a>
                    <a class="button alert tiny small" ng-click="deleteTodo($index)">Delete</a>
                </td>
            </tr>

            <tr ng-show="!filtered.length">
                <td colspan="6" class="text-center">
                    <div class="round alert label">No records found{{todos.length}}</div>
                </td>
            </tr>

            </tbody>

        </table>
    </div>
</div>
