<ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li class="current"><a>My Todos</a></li>
</ul>

<div class="row">
    <div class="large-4 columns"><a class="button tiny " href="#/add-new-todo">Add Todo</a></div>
    <div class="large-4 columns">
        <input type="text" ng-model="searchText" placeholder="Add text to search..." />
    </div>
</div>

<div class="row">
    <div class="large-12 columns" data-ng-bind="todo.status"></div>
</div>

<div class="row">
    <div class="large-12 columns">
        <table class="large-12 columns">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Option</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="todo in todos |filter:searchText" >
                <td data-ng-bind="todo.id"></td>
                <td data-ng-bind="todo.title"></td>
                <td data-ng-bind="todo.description"></td>
                <td>
                    <a class="button tiny small" href="#/view-todo/{{todo.id}}">View</a>
                    <a class="button tiny small" href="#/update-todo/{{todo.id}}">Edit</a>
                    <a class="button alert tiny small" href="#/delete-todo/{{todo.id}}">Delete</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
