<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="#/">Home</a></li>
            <li><a href="#/todos">Tdodos</a></li>
            <li>Update Tdod</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <span ng-show="status" class="error" data-ng-bind="status"></span>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <form novalidate name="frmUpdateTodo">
            <div class="row">
                <div class="large-5 columns">
                    <label for="">Project :
                        <select name="project" ng-model="selectedproject_id" ng-options=" project.name for project in projects">
                        </select>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label for="">
                        Date :
                        <input type="text" name="date" data-ng-model="todo.todo_date" date-picker readonly/>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="columns large-5">
                    <label>
                        Title :
                        <input type="text" data-ng-model="todo.title" name="title" required/>
                        <div ng-show="frmUpdateTodo.title.$invalid && submitted">
                            <span class="error" ng-show="frmUpdateTodo.title.$error.required">Please enter title</span>
                        </div>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label>
                        Description :
                        <textarea name="description" data-ng-model="todo.description" cols="30" rows="10"></textarea>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label for="group"></label>
                    <select name="group" id="" data-ng-model="selectedgroup_id" ng-options="group.name for group in groups"></select>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <label for="priorites"></label>
                    <select name="priority" id="" data-ng-model="selectedpriority_id" ng-options="priority.name for priority in priorities"></select>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <input type="button" value="Update"  class="button small tiny" ng-click="updateTodo()"/>
                    <a href="#/todos" class="button small tiny secondary">Cancel</a>
                </div>
            </div>

        </form>
    </div>
</div>