<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="#/">Home</a></li>
            <li><a href="#/todos">Todos</a></li>
            <li>View Todo</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 columns">Id</div>
        <div class="large-10 columns" data-ng-bind="todo.id"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 columns">Project</div>
        <div class="large-10 columns" data-ng-bind="todo.project.name"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 columns">Title</div>
        <div class="large-10 columns" data-ng-bind="todo.title"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 columns">Description</div>
        <div class="large-10 columns" data-ng-bind="todo.description"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 columns">Status</div>
        <div class="large-10 columns" data-ng-bind="todo.todo_status"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <a href="#/todos" class="button small tiny secondary">back</a>
    </div>
</div>