<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="#/">Home</a></li>
            <li><a href="#/todos">Todos</a></li>
            <li>View Todo</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 small-3 columns">Title</div>
        <div class="large-10 small-9 columns" data-ng-bind="todo.title"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 small-3 columns">Task</div>
        <div class="large-10 small-9 columns" data-ng-bind="todo.description"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 small-3 columns">Project</div>
        <div class="large-10 small-9 columns" data-ng-bind="todo.project.name"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 small-3 columns">Date : </div>
        <div class="large-10 small-9 columns" data-ng-bind="todo.todo_date"></div>
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        <div class="large-2 small-3 columns">Status</div>
        <div class="large-10 small-9 columns" data-ng-bind="todo.todo_status"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 small-3 columns">Group</div>
        <div class="large-10 small-9 columns" data-ng-bind="todo.group.name"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-2 small-3 columns">Priority</div>
        <div class="large-10 small-9 columns" data-ng-bind="todo.priority.name"></div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <a href="#/todos" class="button small tiny secondary">back</a>
    </div>
</div>